<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  </head>
<body class="text-center bg-dark">
  <div class="text-light form-group-row">
    <div class="py-5 mx-auto text-center">
      <h2>Login</h2>
      <p>Por favor, faça o login!</p>
    </div>

    <div class="row">
      <div class="mx-auto">
          <form th:action="@{/login}" method="POST">
                
            <p><div class="alert alert-danger" role="alert">Email ou senha incorretos!</div></p>  
                
                <div>
                      <label for="staticEmail"></label>
                      <input type="email" name="email" class="form-control" placeholder="Endereço de Email" required autofocus>
                  </div>
                  <div class="text-light py-3">
                      <label for="inputPassword" class="sr-only">Senha</label>
                      <input type="password" name="senha" class="form-control" placeholder="Senha" required>
                  </div>
          
                  <div class="text-light form-inline">
                      <a <button type="button" class="btn btn-secondary" href="/">Home </button> </a>
                      <div class="mx-1">
                        <button class="btn btn-secondary" type="submit">Login</button>
                      </div>
                  </div>
          </form>
      </div>
    </div>
  </body>
</html>
