<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Loja</h1>
    <a href="/">Menu</a>
    <br>
    <br>

    <form th:action="@{/salvar}" th:object="${user}" method="POST" id="formUser">

        <label>ID: </label> <span th:text="${user.usuarioid}"></span>
        <br>
        <input type="hidden" th:value="${user.usuarioid}" th:field="${user.usuarioid}" name="usuarioid" />

        <label>Nome: </label>
        <input type="text" placeholder="Digite o nome" th:value="${user.nome}" name="nome" required/>
        <br>
        <label>Descrição: </label>
        <input type="text" placeholder="Digite a descrição" th:value="${user.descricao}" name="descricao" required/>
        <br>
        <label>Email: </label>
        <input type="text" placeholder="Digite o email" th:value="${user.email}" name="email" required/>
        <br>
        <input type="hidden" th:value="${user.senha}" th:field="${user.senha}" name="senha" />
        <label>Link: </label>
        <input type="text" placeholder="Digite o link" th:value="${user.link}" name="link" required/>
        <br>
        <label>Cidade: </label>
        <input type="text" placeholder="Digite a cidade" th:value="${user.cidade}" name="cidade" required/>
        <br>
        <label>Estado: </label>
        <input type="text" placeholder="Digite o estado" th:value="${user.estado}" name="estado" required/>
        
        <br>
        
        <input type="checkbox" th:value="Cerveja" th:field="${user.cerveja}" id="bebida1" name="Cerveja" value="Cerveja">
        <label for="bebida1"> Cerveja</label><br>
        <input type="checkbox" th:value="Vodka" th:field="${user.vodka}" id="bebida2" name="Vodka" value="Vodka">
        <label for="bebida2"> Vodka</label><br>
        <input type="checkbox" th:value="Whiskey" th:field="${user.whiskey}" id="bebida3" name="Whiskey" value="Whiskey">
        <label for="bebida3"> Whiskey</label><br>
        <input type="checkbox" th:value="Vinho" th:field="${user.vinho}" id="bebida4" name="Vinho" value="Vinho">
        <label for="bebida4"> Vinho</label><br>
        <input type="checkbox" th:value="Licor" th:field="${user.licor}" id="bebida5" name="Licor" value="Licor">
        <label for="bebida5"> Licor</label><br>

        <br>
        <br>
        <input type="submit" value="Salvar"/>
        <input type="reset" value="Cancelar"/>
    
    </form>

</body>
</html>