<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Produto</h1>
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/salvarProduto}" method="POST">
        <label>Nome:</label><input type="text" name="nome"/><br>
        <label>Descrição:</label><input type="text" name="descricao"/><br>
        <label>Marca:</label><input type="text" name="marca"/><br>
        <label>Estoque:</label><input type="number" name="estoque"/><br>
        <label>Validade:</label><input type="date" name="validade"/><br>
        <label>Origem:</label><input type="text" name="origem"/><br>
        <label>Preço:</label><input type="number" name="preco"/><br>
        <input type="submit" value="Salvar"/>
    </form>

    <br>
    <br>

    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Estoque</th>
            <th>Validade</th>
            <th>Origem</th>
            <th>Preço</th>
        </tr>

        <tr th:each="produto: ${produtos}">
            <td th:text="${produto.codigo}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="${produto.marca}"></td>
            <td th:text="${produto.estoque}"></td>
            <td th:text="${produto.validade}"></td>
            <td th:text="${produto.origem}"></td>
            <td th:text="${produto.preco}"></td>
        </tr>
    </table>
</body>
</html>