<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinDrink</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-dark">
    
    <div class="container text-center">
        <h1 div class="display-3 text-center text-light">Tipos de Bebidas</h1>
        <a <button type="button" class="btn btn-secondary" href="/">Home </button> </a>

        <div class="row">
            <div class="py-auto mx-auto text-light form-check form-check-inline">
                <form th:action="@{/busca}" method="POST">
                    <br>
                    <br>
                    <br>
                    <div class="btn-group" role="group">
                        <input class="form-check-input btn btn-secondary" type="submit" name="bebida" value="Cerveja">
                        <input class="form-check-input btn btn-secondary" type="submit" name="bebida" value="Vodka">
                        <input class="form-check-input btn btn-secondary" type="submit" name="bebida" value="Whiskey">
                        <input class="form-check-input btn btn-secondary" type="submit" name="bebida" value="Vinho">
                        <input class="form-check-input btn btn-secondary" type="submit" name="bebida" value="Licor">
                      </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>