<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iDrink</title>
</head>
<body>
    <h1>Tipos de bebida</h1>
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/busca}" method="POST">
        <input class="form-check-input" type="submit" name="bebida" value="Cerveja">
        <input class="form-check-input" type="submit" name="bebida" value="Vodka">
        <input class="form-check-input" type="submit" name="bebida" value="Whiskey">
        <input class="form-check-input" type="submit" name="bebida" value="Vinho">
        <input class="form-check-input" type="submit" name="bebida" value="Licor">
    </form>
    
</body>
</html>