<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Loja</h1>
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/salvar}" method="POST">
        Nome:<input type="text" name="nome"/>
        Descricao:<input type="text" name="descricao"/>
        Link:<input type="text" name="link"/>
        Email:<input type="text" name="email"/>
        Senha:<input type="text" name="senha"/>
        <br>
        <input type="checkbox" name="cerveja" value="Cerveja">
        <label for="cerveja">Cerveja</label><br>
        <input type="checkbox" name="vodka" value="Vodka">
        <label for="Vodka">Vodka</label><br>
        <input type="checkbox" name="whiskey" value="Whiskey">
        <label for="whiskey">Whiskey</label><br>
        <input type="checkbox" name="vinho" value="Vinho">
        <label for="vinho">Vinho</label><br>
        <input type="checkbox" name="licor" value="Licor">
        <label for="licor">Licor</label><br>
        <br>
        <input type="submit" value="Salvar"/>
    </form>

    <br>
    <br>
    <!--<table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Senha</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.usuarioid}"></td>
            <td th:text="${user.nome}"></td>
            <td th:text="${user.sobrenome}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.senha}"></td>
        </tr>
    </table> !-->
</body>
</html>